.spyproject/
.vector_cache/
.idea/
fastText/
notebooks/.ipynb_checkpoints/
**/__pycache__/
src/train/*.session
**/.DS_Store
.env
config/*.json
ya_cloud*
tests/*.csv

## Virtual environments
venv/*

# Python
__pycache__

## IDEs
.idea
.DS_Store
models/external/
data/external/
data/processed
data/raw/backup/
data/interim
.idea/

# Jupyter
.ipynb_checkpoints

# C++
cmake-build-debug/
libtgcat.so

src/submission.zip
models/
resources/

src/inference/libtorch/
