altair==4.1.0
#spacy==2.2.3
git+https://github.com/facebookresearch/fastText.git
numpy==1.20.0
streamlit==0.76.0
pandas==1.2.1
requests==2.25.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torch>=1.13.1
#pymystem3==0.2.0
#Telethon==1.19.1
pyonmttok==1.23.0
#seaborn==0.11.1
#matplotlib==3.3.4
tqdm==4.56.0
#auto_mix_prep==0.2.0
beautifulsoup4==4.9.3
#python-dotenv==0.15.0
PyYAML==5.4.1
pybind11>=2.2
